{% load static %}

<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="#" class="logo">
                <img src="{% static 'img/svg/logo_header.svg' %}"
                     alt="load img">
            </a>
            <ul class="header__list-link">
                <li class="header__link">
                    <a href="#">Наши услуги</a>
                </li>
                <li class="header__link">
                    <a href="#">Наши направления</a>
                </li>
                <li class="header__link">
                    <a href="#">Наши работы</a>
                </li>
            </ul>
        </div>
    </div>
</header>
