.header {
  padding: 14px 0;
}

.header__content {
  display: flex;
  align-items: center;

  .logo {
    max-width: 98px;
    margin: 0 64px 0 0;
  }

  .header__list-link {
    display: flex;
    align-items: center;

    .header__link {
      margin: 0 36px 0 0;

      a {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #191D25;
      }
    }
  }
}
