{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Заголовок</h1>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
